body {
	padding: 0;
	margin: 0;
	font: 1em sans-serif;
	color: black;
	background-color: white;
}

#menu {
	position: absolute;
	background-color: rgba(255, 0, 255, 0.5);
	overflow: auto;
	top: 0;
	left: 0;
	font-size: .8em;
  }

label {
	text-align: left;
	vertical-align: bottom;
	margin-bottom: 0;
	font-size: 1.3em;
}

select {
	height: 2.6em;
}

.controls {
	margin-left:5 px; 
	padding: 5px;
}

#facingMode {
	padding: 0 !important;
	margin-left: 8px;
}

#closeMenu > button {
	background-image: url("close.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	border-width: 0;
	width: 2em;
	height: 2em; 
	position: absolute;
	top: 2px;
	right: 2px;
	margin: 0;
	padding: 0;
}

.presets {
	margin-right: 16px;
}

#videoSource {
	max-width: 50%;
}